@import "common";

.error404 {
    color: $primary;
    padding-bottom: 0;
    i {
        font-size: 80px;
    }
    &-wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        .title {
            font-size: 50px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .description {
            p {
                font-size: 16px;
                line-height: 16px;
            }
        }

        .button {
            margin: 0 auto;
        }
    }

    @media screen and (max-width: $mobile) {
        padding: 160px 0;
    }
}