/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'OpenSansCondensedLight', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/* CLEARFIX */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


strong {
	font-weight: bolder;
}

$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Halant', serif;

$primary: #0080c9;
$pimary-middle:#a4e1ff;
$primary-light: #edf3f6;

$primary-dark: #132b45;

$black: #000;
$white: #fff;

$default-grid-margin: 20px;
$gutter: 1vw;
$gutter-mobile: 1.53vw;
$padding-bottom-mobile: 13vw;

$tablet: 1024px;
$mobile: 769px;
$normal: 1500px;

$mobile-padding-h: 24px;

// 120 per i titoli di line-height
// 150 per i testi

@function column($num) {
	@return calc( (((100vw - #{$gutter * 13})/12) * #{$num})  + #{$gutter * ($num + 1)});
}

@function fontsize($size) {
	//@return calc((100vw - 360px) * (36 - #{$size}) / (767 - 360) + #{$size}px );
}

@mixin mobile-p-font {
	font-size: 4.5vw;
    line-height: 6.7vw;
}

@mixin font-text($num){
	font-size: $num;
	line-height: ($num * 150)/100;
	@media screen and (min-width: $mobile) and (max-width: $normal){
		//font-size: $num - 2;
		//line-height: (($num - 2) * 150)/100;
	}
	@media screen and (min-width: $normal) {
		font-size: $num + 1;
		line-height: (($num + 1) * 150)/100;
	}
}

@mixin font-title($num){
	font-size: $num;
	line-height: ($num * 120)/100;
	@media screen and (min-width: $mobile) and (max-width: $normal){
		font-size: $num - 6;
		line-height: (($num - 6) * 120)/100;
	}
	@media screen and (min-width: $normal) {
		font-size: $num + 2;
		line-height: (($num + 2) * 120)/100;
	}
}


h1, h2, h3 {
	font-size: 22px;
	font-family: $font-secondary;
	color: $primary;
}

h1 {
	@include font-title(44px);
	margin-bottom: 40px;
	@media screen and (max-width: $mobile) {
		font-size: 7vw;
    	line-height: 9vw;
	}
}

h2 {
	@include font-title(36px);
	margin-bottom: 40px;
	@media screen and (max-width: $mobile) {
		font-size: 6vw;
    	line-height: 8vw;
	}
}

p {
	@include font-text(16px);
}

a {
	color: black;
	text-decoration: none;
}

@import "icons";
@import "partials/social";
@import "partials/header";
@import "partials/footer";
@import "partials/cookie_law";



body {
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	@media screen and (max-width: $mobile) {
		//padding-bottom: $padding-bottom-mobile;
	}
}

img {
	display: block;
}
img[src=""] { content:url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

a.button, button.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
	border: 1px solid $primary-dark;
	color: $primary-dark;
	text-transform: uppercase;
	background-color: transparent;
	font-size: 12px;
	transition: all 0.3s;
	&:hover {
		background-color: $primary-dark;
		color: white;
		border: 1px solid transparent;
		
	}
	@media screen and (max-width: $mobile) {
		padding: 4vw 0;
    	width: 34vw;
		font-size: 3vw;
	}
}

.button-container {
    text-align: center;
}

.padded {
	padding: 80px 0;
	@media screen and (max-width: $mobile) {
		padding: 0;
	}
}

.padded-mobile {
	@media screen and (max-width: $mobile) {
		padding: 80px 0;
	}
}

.bg-light {
	background-color: $primary-light;
}

.bg-color-middle-primary {
	background-color: $pimary-middle;
	h1, h2, h3 {
		color: white;
	}
}

.half-padded {
	padding: 40px 0;
	@media screen and (max-width: $mobile) {
		padding: 0;
	}
}

.block-h1 {
	p {
		font-size: 18px;
		line-height: 24px;
	}
}

.block-h2 {
	p {
		font-size: 16px;
		line-height: 24px; 
	}
}

main {
	//padding: 0 $default-grid-margin;
}

.hide-sm {
	@media screen and (max-width: $mobile) {
		display: none !important;
	}
}

.hide-desktop {
	@media screen and (min-width: $mobile) {
		display: none !important;
	}
}

/* FORM */
.control {
	font-family: arial;
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 5px;
	padding-top: 4px;
	cursor: pointer;
	font-size: 16px;
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
}
.control_indicator {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid white;
	border-radius: 0px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
	//background: #cccccc;
}

.control input:checked ~ .control_indicator {
	//background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
	//background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
	//background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}
.control_indicator:after {
	box-sizing: unset;
	content: '';
	position: absolute;
	display: none;
}
.control input:checked ~ .control_indicator:after {
	display: block;
}
.control-checkbox .control_indicator:after {
	left: 8px;
	top: 4px;
	width: 3px;
	height: 8px;
	border: solid #ffffff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
	border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 4.5rem;
	height: 4.5rem;
	margin-left: -1.5rem;
	margin-top: -1.5rem;
	background: #2aa1c0;
	border-radius: 3rem;
	opacity: 0.6;
	z-index: 99999;
	transform: scale(0);
}
@keyframes s-ripple {
	0% {
		transform: scale(0);
	}
	20% {
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
@keyframes s-ripple-dup {
   0% {
	   transform: scale(0);
	}
   30% {
		transform: scale(1);
	}
	60% {
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
.control-checkbox input + .control_indicator::before {
	animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
	animation-name: s-ripple-dup;
}

$main-image-height: 70vh;
.main-image {
	height: $main-image-height;
	position: relative;
	img {
		width: 100vw;
		height: 70vh;
		position: absolute;
		top: 0;
		left: 0;
		background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
	}
	@media screen and (max-width: $mobile) {
		position: relative;
    	width: 100vw;
		height: inherit;
		img {
			position: relative;
			background-position: revert;
			background-repeat: no-repeat;
			background-size: contain;
			width: 100vw;
			height: auto;
		}
		.block-h1 {
			position: absolute;
			top: 0;
			left: 0;
			padding: 0 $mobile-padding-h;
			margin-top: 50%;
        }
	}
	&--top {
		@media screen and (max-width: $mobile) {
			margin-top: 110px;
		}
	}
}

.image-half {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    img {
        width: column(8);
    }
}

.image-double {
    display: flex;
    justify-content: center;
    > div {
        display: flex;
        justify-content: space-between;
        width: column(8);
    }
    &__inner {
		width: column(4);
		margin-right: $gutter;
		&:last-child {
			margin-right: 0;
		}
		img {
			width: column(4);
			border-radius: 2%;
		}
		p {
			@include font-text(16px);
			margin-bottom: 20px;
			color: $primary;
			font-family: $font-secondary !important;
		}
		&:first-child {
			p.ordered {
				&::after {
					text-transform: uppercase;
					content: "prima"
				}
			}
		}
		&:last-child {
			p.ordered {
				&::after {
					text-transform: uppercase;
					content: "dopo"
				}
			}
		}
	}
	@media screen and (max-width: $mobile) {
		&__inner {
			margin-right: 0;
			width: calc(100vw - #{$mobile-padding-h * 2});
			padding: 0 $mobile-padding-h;
		}
		> div {
			flex-direction: column;
			width: 100%;
		}
		img {
			width: 100%;
			border-radius: 0;
		}
		p {
			margin-top: 40px;
			margin-bottom: 20px;
		}
	}
}

.text-double {
	display: flex;
	justify-content: center;
	> div {
        display: flex;
        justify-content: space-between;
        width: column(8);
	}
	> div > div {
		width: column(3);
	}
	img {
		width: 100%;
	}
	h2 {
		text-transform: capitalize;
	}
	@media screen and (max-width: $mobile) {
		> div > div {
			width: 100%;
		}
		> div {
			flex-direction: column;
			width: 100%;
		}
		img {
			width: 100%;
			margin-bottom: 40px;
		}
		&__text {
			width: calc(100vw - #{$mobile-padding-h * 2}) !important;
			padding: 0 $mobile-padding-h;
		}
	}
}

.g-recaptcha {
	margin-bottom: 40px;
}

@import "partials/contact-us";
