<footer>
	<section class="info">
		<header><span class="icon icon_scissors"></span>Amalia Cardo</header>
		<div>
		Sarta - Modellista - Stilista - Oggettistica<br/>
		Via del Rondinino 7<br/> 
		50135 Firenze - Italia<br/>
		</div>
	</section>
	<section class="contact">
		<header>Creazioni</header>
		<div>
			<a href="abbigliamento-sartoria-firenze.html">Abiti sartoriali</a><br />
			<a href="scarpe-copri-tutore-piede-torto.html">Scarpe copri tutore per piede torto</a><br />
			<a href="oggettistica-amalia-cardo-firenze.html">Oggettistica</a>
		</div>
	</section>
	<section class="contact">
		<header>Contatti</header>
		<div itemtype="http://data-vocabulary.org/Person">
		Email: <a class="contact-email" itemprop="email" href="#">info at amaliacardo.it</a><br />
		Cell: <a itemprop="phone" href="callto:+393493803646">+39 349 38 03 646</a><br>
		CF: CRDMLA81T58L142T
		</div>
	</section>
	<section class="social-container">
		{{>social}}
		<p class="signature">Progettazione Web: Antonio D'Alessio</p>
	</section>
</footer>
