<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="google-site-verification" content="M4WdPlMCybIUcDXkN8kmVuexMnosRaBX_Pf-ZvAgnNE" />
<title>{{title}}</title>
<meta name="description" content="{{description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" href="favicon.ico">
<!-- Place favicon.ico in the root directory -->

<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre|Open+Sans+Condensed:300,700" rel="stylesheet">

<link rel="stylesheet" href="/css/{{key}}.css">

<link rel="shortcut icon" href="favicon.ico">
<link rel="icon" href="favicon.ico" type="image/x-icon">
