@font-face {
    font-family: "icons";
    src: url("../fonts/icons.eot?aea51c917dd83641908200ead8321b8d#iefix") format("embedded-opentype"),
url("../fonts/icons.woff2?aea51c917dd83641908200ead8321b8d") format("woff2"),
url("../fonts/icons.woff?aea51c917dd83641908200ead8321b8d") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\f101";
}
.icon-arrow-dx:before {
    content: "\f102";
}
.icon-arrow-sx:before {
    content: "\f103";
}
.icon-chirurgia-orale:before {
    content: "\f104";
}
.icon-chirurgia:before {
    content: "\f105";
}
.icon-close:before {
    content: "\f106";
}
.icon-conservativa:before {
    content: "\f107";
}
.icon-error:before {
    content: "\f108";
}
.icon-estetica-sorriso:before {
    content: "\f109";
}
.icon-facebook:before {
    content: "\f10a";
}
.icon-finanziamento:before {
    content: "\f10b";
}
.icon-formazione:before {
    content: "\f10c";
}
.icon-geoloc:before {
    content: "\f10d";
}
.icon-hamburger:before {
    content: "\f10e";
}
.icon-igiene-orale:before {
    content: "\f10f";
}
.icon-impianti-dentali:before {
    content: "\f110";
}
.icon-instagram:before {
    content: "\f111";
}
.icon-logo-fristudio:before {
    content: "\f112";
}
.icon-logo:before {
    content: "\f113";
}
.icon-mail:before {
    content: "\f114";
}
.icon-messaggio-ok:before {
    content: "\f115";
}
.icon-orario:before {
    content: "\f116";
}
.icon-ortodonzia-invisibile:before {
    content: "\f117";
}
.icon-paradontologia:before {
    content: "\f118";
}
.icon-pododanzia:before {
    content: "\f119";
}
.icon-tecnologia:before {
    content: "\f11a";
}
.icon-telefono:before {
    content: "\f11b";
}
