.blocklist {
    padding: 80px 0;
    &__row {
        display: block;
    }
    a.blocklist__row {
        &:hover {
            background-color: $primary-light;
        }
    }
    &__title {
        padding-left: column(5);
    }
    &__text {
        padding-left: column(3);
        display: flex;
        h2 {
            display: flex;
            align-items: center;
            margin-bottom: 0;
        }
    }
    &__icon {
        width: column(1);
        font-size: 120px;
        margin-right: column(1);
        color: $primary;
        text-align: center;
    }
    p, h2 {
        width: column(4);
    }
    p {
        margin-left: -$gutter;
    }
    h2 {
        margin-left: 1vw;
    }

    @media screen and (max-width: $mobile) {
        &__row {
            padding: 0 $mobile-padding-h;
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__title {
            padding: 0;
            margin-left: calc(30vw - #{$mobile-padding-h});
        }
        &__icon {
            font-size: 20vw;
            width: calc(30vw - #{$mobile-padding-h * 2});
            margin-right: $mobile-padding-h;
        }
        &__text {
            padding-left: 0;
            h2 {
                width: inherit;
            }
        }
        p {
            margin-left: $gutter;
            width: column(8);
            @include mobile-p-font;
        }
	}
}