footer {
	background-color: $primary;
	color: white;
	padding: 0 $default-grid-margin;
	padding-top: 98px;

	.footer-top {
		display: flex;
		width: 90%;
		//width: calc((100vw - 260px)/2);
		margin: 0 auto;
		margin-bottom: 20px;
		section:first-child {
			flex-basis: 25%;
			//width: calc(((100vw - 260px)/12)*2);
		}
		section:nth-child(2) {
			flex-basis: 50%;
			//width: calc(((100vw - 260px)/12)*4);
		}
		section:nth-child(3) {
			flex-basis: 25%;
			//width: calc(((100vw - 260px)/12)*4);
			//width: 30%;
		}
	}

	.footer-block {
		margin-bottom: 30px;
		white-space: nowrap;
		header, .footer-block__body {
			display: flex;
		}
		header {
			height: 30px;
		}
		.footer-block__body {
			height: 60px;
			font-size: 14px;
			.icon {
				font-size: 50px;
				color: white;
			}
		}
		h6 {
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		.sx {
			//width: 80px;
			min-height: 1px;
			padding-left: $default-grid-margin;
			width: calc((100vw - 260px)/12 );
			display: flex;
    		justify-content: center;
		}
		.dx {
			//width: 60%;
			min-height: 1px;
			padding-left: $default-grid-margin;
			//width: calc((100vw - 260px)/12 );
		}

		&.custom {
			.sx {
				justify-content: flex-end;
			}
			.icon {
				opacity: 1;
			}
		}
	}

	.footer-bottom {
		text-align: center;
	}

	form {
		input {
			border: none;
			border-bottom: 1px solid white;
			background-color: transparent;
			&:focus {
				border: none;
				border-bottom: 1px solid #ccc;
				background-color: transparent;
				outline: 0;
			}
		}
		button.button {
			//margin-top: 40px;
			color: white;
			border: 1px solid white;
			width: 160px;
			height: 50px;
		}
		input[type="checkbox"] {
			appearance: none;
			width: 20px;
			height: 20px;
			border: 1px solid white;
		}
	}

}