footer.main {
	background-color: $primary;
	color: white;
	padding: 0 column(1);
	padding-top: 98px;
	padding-bottom: 30px;
	.footer__label {
		margin-top: 13px;
	}
	p, a {
		font-size: 14px;
		color: white;
	}

	.footer-top {
		display: flex;
		margin: 0 auto;
		section:first-child {
			width: column(2);
		}
		section:nth-child(2) {
			width: column(4);
		}
		section:nth-child(3) {
			width: column(4);
		}
	}

	.footer-middle {
		display: flex;
		margin-bottom: 20px;
		section:first-child {
			width: column(2);
		}
		section:nth-child(3) {
			width: column(4);
		}
		section:nth-child(2) {
			width: column(4);
		}
	}

	.footer-block {
		margin-bottom: 30px;
		white-space: nowrap;
		header, .footer-block__body {
			display: flex;
		}
		header {
			height: 30px;
		}
		.footer-block__body {
			height: 60px;
			font-size: 14px;
			.sx {
				.icon {
					font-size: 50px;
					color: white;
				}
			}
		}
		h6 {
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		.sx {
			min-height: 1px;
			width: column(1);
			display: flex;
    		justify-content: center;
		}
		.dx {
			width: column(1);
			min-height: 1px;
			&.center-v {
				display: flex;
				align-items: center;
			}
		}

		&.custom {
			.sx {
				justify-content: flex-end;
				margin-right: $gutter;
			}
			.dx {
				width: column(3);
				&.little {
					font-size: 11px;
				}
			}
			.icon {
				opacity: 1;
			}
		}
	}

	.footer-bottom {
		text-align: center;
		i.icon {
			margin-right: 3px;
			font-size: 26px;
			vertical-align: middle;
		}
	}

	form {
		input {
			border: none;
			border-bottom: 1px solid white;
			background-color: transparent;
			width: 100%;
			font-size: 16px;
    		color: #fff;
    		font-family: 'Nunito';
			&:focus {
				border: none;
				border-bottom: 1px solid #ccc;
				background-color: transparent;
				outline: 0;
			}
		}
		button.button {
			color: white;
			border: 1px solid white;
			width: 160px;
			height: 50px;
		}
	}

}


footer.mobile {
	background-color: $primary;
	color: white;
	padding: 40px $mobile-padding-h 0 $mobile-padding-h;
	.footer__row {
		display: flex;
		align-items: center;
		a {
			color: white;
		}
		.sx {
			width: 40%;
			display: flex;
    		justify-content: center;
		}
		.icon {
			font-size: 50px;
			color: white;
		}
	}
	h6 {
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		padding-top: 40px;
		margin-bottom: 20px;
	}

	.email-address {
		font-size: 14px;
	}

	form {
		width: 100%;
		.email-container {
			display:flex;
			align-items: flex-end;
			> div:first-child {
				width: 14%;
				display: flex;
				justify-content: flex-end;
				label {
					padding-right: $gutter-mobile;
					white-space: nowrap;
				}
			}
			> div:nth-child(2) {
				width: 100%;
			}
			input {
				width: 100%;
			}
		}
		.checkbox-container {
			margin-top: 30px;
			display: flex;
			> div:first-child {
				width: 14%;
				display: flex;
				justify-content: flex-end;
			}
			> div:last-child {
				width: 86%;
			}
		}
		.button-container {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: 60px;
		}
		input {
			border: none;
			border-bottom: 1px solid white;
			background-color: transparent; 
			font-size: 16px;
    		color: #fff;
    		font-family: 'Nunito';
			&:focus {
				border: none;
				border-bottom: 1px solid #ccc;
				background-color: transparent;
				outline: 0;
			}
		}
		button.button {
			color: white;
			border: 1px solid white;
			width: 160px;
			height: 50px;
		}

		
	}

	.footer__social {
		display: flex;
		justify-content: center;
		padding-bottom: 60px;
		li:last-child {
			margin-right: 0;
		}
	}

	.footer__double-block {
		display: flex;
		padding-bottom: 40px;
		h6 {
			text-align: left;
		}
		> div {
			width: 50%;
		}
		> div:last-child {
			margin-left: $gutter-mobile;
		}
	}
	
}