header.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px $gutter;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .logo {
        width: column(1);
        img {
            width: 100%;
        }
    }
    nav.menu {
        ul {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            li {
                margin-left: 25px;
                &:hover, &.active {
                    a {
                        color: $primary;
                    }
                }
            }
            li .button {
                border: 1px solid $primary;
                color: $primary;
                &:hover {
                    color: white;
                }
            }
        }
    }
    &.scrolled {
        background: white;
        padding: 5px $gutter;
        box-shadow: 0px 2px 20px 0px #ccc;
        transition: all 0.1s, background-color 0.3s;
    }
}


header.mobile {
    position: fixed;
    z-index: 110;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.3s, background-color 0.3s;
    .header-top {
        display: flex;
        justify-content: space-between;
        margin: $mobile-padding-h;
        align-items: center;
    }
    .logo-mobile {
        
        width: 32vw;
    }
    .menu-buttons {
        i {
            font-size: 50px;
            color: $primary;
            font-weight: bold;
        }
        .icon-close {
            display: none;
        }
    }
    $font-size-menu: 5vw;
    .menu-mobile {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        right: 0;
        padding: 0;
        min-height: 60vh;
        transform: translate(0,-60vh);
        transition: transform 0.5s;
        visibility: hidden;
        &.open {
            transform: translate(0, 0);
            visibility: visible;
        }
        .menu {
            padding-left: $mobile-padding-h;
        }
        $menu-line-height: 50px;
        li {
            line-height: $menu-line-height;
            font-size: $font-size-menu;
            text-transform: uppercase;
            &.active {
                a {
                    color: $primary;
                }
            }
        }
        .menu-link {
            line-height: $menu-line-height;
            font-size: $font-size-menu;
            text-transform: uppercase;
            margin-left: $mobile-padding-h;
            a {
                display: block;
                color: $primary;
            }
        }
    }
    .button-contact {
        display: none;
    }
    &.scrolled {
        background: white;
        box-shadow: 0px 2px 20px 0px #ccc;
    }
}