.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.slideshow {
	width: 100%;
    height: 100vh;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    .lSPrev, .lSNext {
        display: none;
    }

    .lSPager {
        z-index: 101;
        position: absolute;
        bottom: calc( #{$padding-bottom-mobile} + 10vh);
        display: flex;
        width: 100vw !important;
        justify-content: center;
        align-items: center;
        li {
            width: 8px !important;
            height: 8px !important;
            border-radius: 4px;
            background-color: $primary;
            margin-right: 6vw !important;
            &:last-child {
                margin-right: 0 !important;
            }
            img {
                display:none;
            }
            &.active {
                border: 1px solid $primary;
                background-color: transparent;
                width: 16px !important;
                height: 16px !important;
                border-radius: 8px;
            }
        }
        @media screen and (min-width: $mobile) {
            display: none;
        }
    }
    
    .ctrl {
        position: absolute;
        width: calc(100vw/12);
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 10;
        &-prev {
            top: 0;
            left: $default-grid-margin;
        }
        &-next {
            top: 0;
            right: $default-grid-margin;
        }
        .icon {
            font-size: 68px;
            color: $primary;
            transition: all 0.2s;
            &:hover {
                font-size: 76px;
                text-shadow: 0px 0px 4px #ccc;
                cursor: pointer;
            }
        }
    }
    &-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        width: 1000vw;
        height: 100vh;
        overflow: hidden;
        display: flex;
        transition: left 0.5s;
        img {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .slideshow-text {
            position: absolute;
            left: column(1);
            width: 600px;
            height: 100%;
            display: flex;
            align-items: center;
            z-index: 111;
        }
        .slide {
            position: relative;
            width: 100vw;
            height: 100vh;
        }
    }

    @media screen and (max-width: $mobile) {
        position: relative;
        &.slideshow--img {
            // margin-top: 105px;
            // height: 200px;
        }
        .slideshow-text {
            width: calc(100vw - #{$mobile-padding-h * 2});
            left: 0;
            right: 0;
            padding: 0 $mobile-padding-h;
            p {
                @include mobile-p-font;
            }
        }

        img {
            &:first-child {
                background-position: revert;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    $slideshow-text-height: 400px;
    &.slideshow--text {
        height: $slideshow-text-height;
        img {
            display: none;
        }
        .slideshow-content {
            .slide {
                //height: 70vh;
            }
        }
        .slideshow-text {
            width: column(8);
            height: $slideshow-text-height;
            left: 50%;
            transform: translate(-50%, 0%);
            text-align: center;
        }
        .block-h3 {
            margin: 0 auto;
            p {
                color: black;
                font-family: $font-primary;
                margin-bottom: 20px;
            }
            p.review {
                font-family: $font-secondary;
                color: $primary;
                font-size: 40px;
                line-height: 48px;
                margin-bottom: 20px;
            }
            p.signature {
                font-family: $font-primary;
                color: $primary;
                margin-bottom: 60px;
            }
            button.button {
                color: grey;
                border: 1px solid grey;
            }
        }

        .lSPager {
            bottom: calc( #{$padding-bottom-mobile});
        }

        @media screen and (max-width: $mobile) {
            height: 350px;
            .slideshow-text {
                .block-h3 p.review {
                    @include font-text(18px)
                }
                height: 350px;
            }
        }
    }

    &--only-image {
        @media screen and (max-width: $mobile) {
            height: 100vw;
            .slideshow-content {
                height: 10vw;
            }
        }
    }
}

.slideshow-wrapper {
    > p {
        text-align: center;
    }
    > div.button-container {
        display: flex;
        justify-content: center;
    }
}