---
key: index
---

<div class="content">
	<div class="content--wrapper">
		{{> menu}}
		<img class="logo" src="/images/logo.png" alt="logo Amalia cardo" />
	</div>
	<div class="images column--second">
		<img class="logo" src="/images/logo.png" alt="Logo Amalia Cardo"/>
		<img class="site-bg" src="/images/bg_site_x2.webp" alt="sfondo Amalia Cardo"/>
	</div>
	<div class="column--third">
		<div class="quote quote--big">
			<p class="quote__text">Errore! La pagina richiesta non esiste.</p>
		</div>
	</div>
</div>

{{> categories}}

<script src="/js/index.min.js" async deferred></script>