---
whoiam: active
key: about
---

<div class="content full-page">
	<div class="content--wrapper">
		{{> menu}}
		<img class="logo" src="/images/logo.png" alt="logo Amalia cardo" />
	</div>
	<div class="column--second">
		<div class="images">
			<a alt="Amalia Cardo Stilista, sarta e modellista a Firenze" href="/">
                <img class="logo" src="/images/logo.png" alt="logo Amalia Cardo"/>
            </a>
			<img class="site-bg" src="images/bg_site_x2.webp" />
		</div>
	</div>

	<div class="column--third">
		<div class="quote">
			<div class="quote__text quote__text--little">
			Nasco in una piccola cittadina, alle pendici del Vesuvio, dove la creazione di abiti è arte diffusa da tempo immemore.<br>
	Lì numerose aziende vivono nell’artigianato che ruota intorno al mondo dell’abbigliamento e lo stesso mio padre ha gestito, inizialmente, una piccola azienda per il confezionamento di abiti premaman e, in seguito, si è dedicato alla manifattura di maschere.<br>
	Ho iniziato ad interessarmi al campo osservando proprio il lavoro in fabbrica di mio padre e, tra un taglio e una cucitura, mi sono appassionata alla <strong>sartoria, al disegno e alla moda.</strong><br>
	Ho poi deciso di dare spessore a questa mia passione frequentando l’Istituto d’arte con qualifica in sezione moda e costume e di iscrivermi, in un secondo momento, all’<strong>Accademia della moda di Napoli</strong> dove ho conseguito il diploma di laurea con il massimo dei voti.<br>
	Nel 2006 ho vinto una borsa di studio a Pisa per un corso come <strong>modellista CAD</strong> e mi sono specializzata in modelleria riuscendo a lavorare in una piccola azienda di moda bambino.<br>
	Sono stata selezionata per il reparto modelleria kids Guess dove, per otto anni, sono stata <strong>responsabile sviluppo dei capi di tutte le collezioni europee del noto marchio</strong>.<br>
	Ed ora, dopo svariati anni di industria e collaborazioni indipendenti, si è fatta viva in me la voglia di tornare all’artigianato. Una sorta di ritorno alle origini. E infatti eccomi, come mio padre, a creare e sviluppare i miei amati capi nella culla del rinascimento e della moda: Firenze.
			</div>
		</div>
	</div>
</div>

<script src="js/{{key}}.min.js" async deferred></script>