---
key: contact
title: Amalia Cardo Sarta Stilista Firenze
description: Contattami per avere ulteriori. Sarta, modellista, stilista Firenze
link: home
contact: active
---


<div class="column--second">
	<div class="images">
		<img class="logo" src="images/logo.png" />
		<img class="site-bg" src="images/bg_site_x2.jpeg" />
	</div>
</div>

<div class="column--third contact-wrapper">
	<p itemscope itemtype="http://data-vocabulary.org/Person">
		<h1 itemprop="name">Amalia Cardo</h1>
		Via Del Rondinino 7,<br/ >
		50135 Firenze<br/ >
		<a itemprop="email" class="link contact-email" href="#">info at amaliacardo.it</a><br />
		<a itemprop="telephone" class="link" href="callto:+393493803646">tel: 349 38 03 646</a>
	</p>

</div>

<script src="js/{{key}}.min.js"></script>