---
key: what
title: Cosa faccio
description: Stilista modellista sarta oggettistica.
link: 
what: active
---

<div class="column--second">
	<div class="images">
		<img class="logo" src="images/logo.png" />
		<img class="site-bg" src="images/bg_site_x2.jpeg" />
	</div>
</div>

<div class="column--third">
	<h2>Stilista</h2>
	<p>
		Da un'idea, un concetto e dalle tendenze del momento, nascono i disegni, personalizzati in base alle tue richieste.
	</p>
	<h2>Modellista</h2>
	<p>Quando si ha l'idea ben chiara, linea dopo linea, nasce il cartamodello, che sia sartoriale o industriale viene sviluppato a mano o su cad Gerber/ Lectra/ Investronica.</p>
	<h2>Sarta</h2>
	<p>Dalla realizzazione di capi su misura alla rifinitura del modello e alle piccole riparazioni come pieghe, modifiche di taglia e di vestibilità.</p>
	<h2>Oggettistica</h2>
	<p>La creatività non si ferma solo agli abiti, ma anche nel dare vita a nuovi oggetti di riciclo creativo, soprattutto con il cartone.</p>
</div>


<script src="js/what.min.js"></script>