 <link rel="stylesheet" href="/css/fabrics.css">
 <script src="js/fabrics.min.js" async deferred></script>

 <div class="popup-container">
    
    <header>
        {{#if fabrics.internal}}
        <a href="#" class="active">Tessuti interni</a>
        {{/if}}

        {{#if fabrics.external}}
        <a href="#">Tessuti esterni</a>
         {{/if}}
    </header>

    <div class="tab-content">
        {{#if fabrics.internal}}
        <section class="active">
            <h1>Tessuti interni disponibili</h1>
            <div class="thumb-list">
                {{#each fabrics.internal}}
                <a href="#">
                    <img loading="lazy" src="/images/work/{{thumb_preview}}_thumb.jpg" />
                    <p class="black">
                        {{cod}}
                    </p>
                </a>
                {{/each}}
            </div>
        </section>
        {{/if}}
        {{#if fabrics.external}}
        <section>
            <h1>Tessuti esterni disponibili</h1>
            <div class="thumb-list">
                {{#each fabrics.external}}
                <a href="#">
                    <img loading="lazy" src="/images/work/{{thumb_preview}}_thumb.jpg" />
                    <p class="black">
                        {{cod}}
                    </p>
                </a>
                {{/each}}
            </div>
        </section>
        {{/if}}
    </div>
 </div>