---
key: index
title: Amalia Cardo
description: Amalia Cardo Sarta, modellista, stilista Firenze.
link: home
home: active
---

<div class="images column--second">
	<img class="logo" src="/images/logo.png" />
	<img class="site-bg" src="/images/bg_site_x2.jpeg" />
</div>

<div class="quote quote--big column--third">
La moda, parte della statistica,<br /> non è elegante come la matematica. Si prende in prestito la regolarità per formalizzare il caos.
<span>Amalia Cardo</span>
</div>


<script src="/js/index.min.js"></script>