---
what: active
key: what
---

<div class="content full-page">
	<div class="content--wrapper">
		{{> menu}}
		<img class="logo" src="/images/logo.png" alt="logo Amalia cardo" />
	</div>
	<div class="column--second">
		<div class="images">
			<a alt="Amalia Cardo Stilista, sarta e modellista a Firenze" href="/">
                <img class="logo" src="/images/logo.png" alt="logo Amalia Cardo"/>
            </a>
			<img class="site-bg" src="images/bg_site_x2.webp" />
		</div>
	</div>

	<div class="column--third">
		<section>
			<h1>Stilista</h2>
			<p>
				Da un'idea, un concetto e dalle tendenze del momento, nascono i disegni, personalizzati in base alle tue richieste.
			</p>
		</section>
		<section>
			<h1>Modellista</h1>
			<p>Quando si ha l'idea ben chiara, linea dopo linea, nasce il cartamodello, che sia sartoriale o industriale viene sviluppato a mano o su cad Gerber/ Lectra/ Investronica.</p>
		</section>
		<section>
			<h1>Sarta</h1>
			<p>Dalla realizzazione di capi su misura alla rifinitura del modello e alle piccole riparazioni come pieghe, modifiche di taglia e di vestibilità.</p>
		</section>
		<section>
			<h2>Oggettistica</h2>
			<p>La creatività non si ferma solo agli abiti, ma anche nel dare vita a nuovi oggetti di riciclo creativo, soprattutto con il cartone.</p>
		</section>
	</div>
</div>




<script src="js/what.min.js" async deferred></script>