<footer>
    	
	<div class="footer-top">
		<section>
			<div class="footer-block">
				<header>
					<div class="sx"></div>
					<div class="dx">
						<h6>Contatti</h6>
					</div>
				</header>
				<div class="footer-block__body">
					<div class="sx"><i class="icon icon-geoloc"></i></div>
					<div class="dx">
						<p>Via Aretina, 167/B<br>50136 Firenze (FI)</p>
					</div>
				</div>
			</div>
			
			<div class="footer-block">
				<div class="footer-block__body">
					<div class="sx"><i class="icon icon-telefono"></i></div>
					<div class="dx">
						<p>+39 055.606364</p>
					</div>
				</div>
				
			</div>

			<div class="footer-block">
				<header>
					<div class="sx"></div>
					<div class="dx">
						<h6>RAGIONE SOCIALE</h6>
					</div>
				</header>
				<div class="footer-block__body">
					<div class="sx"></div>
					<div class="dx">
						<p>Via Aretina, 167/B<br>50136 Firenze (FI)<br>P.IVA: XXXXXXXXXXXX</p>
					</div>
				</div>
			</div>

		</section>

		<section>

			<div class="footer-block">
				<header>
					<div class="sx"></div>
					<div class="dx"></div>
				</header>
				<div class="footer-block__body">
					<div class="sx"><i class="icon icon-orario"></i></div>
					<div class="dx">
						<p>Lun-Mar-Gio: 8.30-19.00<br>Mer: 14.00-19.00<br>Ven: 8.30-15.00</p>
					</div>
				</div>
			</div>

			<div class="footer-block">
				<div class="footer-block__body">
					<div class="sx"><i class="icon icon-mail"></i></div>
					<div class="dx">
						<p>info@studiodentisticogiorgini.it</p>
					</div>
				</div>
				
			</div>

			<div class="footer-block">
				<header>
					<div class="sx"></div>
					<div class="dx">
						<h6>PRIVACY</h6>
					</div>
				</header>
				<div class="footer-block__body">
					<div class="sx"></div>
					<div class="dx">
						<p>Codice Univoco: XXXXXXXX<br>Privacy Policy - Cookie Policy</p>
					</div>
				</div>
			</div>

		</section>

		<section>
			<div class="footer-block custom">
				<form>
					<header>
						<div class="sx"></div>
						<div class="dx">
							<h6>Newsletter</h6>
						</div>
					</header>
					<div class="footer-block__body">
						<div class="sx"><label>e-mail</label></div>
						<div class="dx">
							<input type="text">
						</div>
					</div>
					<div class="footer-block__body">
						<div class="sx"><input type="checkbox" /></div>
						<div class="dx">
						Acconsento al trattamento dei miei dati personali forniti nel modulo<br>di contatto al fine di gestire la mia domanda, fissare un appuntamento.
						</div>
					</div>
					<div class="footer-block__body">
						<div class="sx"></div>
						<div class="dx">
							<button type="submit" class="button">invia</button>
						</div>
					</div>
				</form>
			</div>

			<div class="footer-block custom">
				<header>
					<div class="sx"></div>
					<div class="dx"></div>
				</header>
				<div class="footer-block__body">
					<div class="sx"></div>
					<div class="dx">
						<header>PUOI TROVARCI SU</header>
						<ul class="social">
							<li class="social-facebook"><a target="_blank" rel="nofollow" class="icon" href="https://www.facebook.com/cardoamalia/"><span>Facebook</span></a></li>
							<li class="social-instagram"><a target="_blank" rel="nofollow" class="icon" href="https://www.instagram.com/amaliacardo/"><span>Instagram</span></a></li>
						</ul>					</div>
				</div>
				
			</div>

			


		</section>
	</div>
	

	<div class="footer-bottom">
		Id que odi ipsant qui alitate prat acero dit reperciis maximin tumque est, consectae molupientis dis magnis alibus et etur, aut renecto bearuptae porepelit recae excea vidit, commodiam eost, aut aditation
	</div>
</footer>
