<footer class="main hide-sm">
    	
	<div class="footer-top">
		<section>
			<div class="footer-block">
				<header>
					<div class="sx"></div>
					<div class="dx">
						<h6>Contatti</h6>
					</div>
				</header>
				<div class="footer-block__body">
					<div class="sx"><i class="icon icon-geoloc"></i></div>
					<div class="dx">
						<p>Via Aretina, 167/B<br>50136 Firenze (FI)</p>
					</div>
				</div>
			</div>
			
			<div class="footer-block">
				<div class="footer-block__body">
					<div class="sx"><i class="icon icon-telefono"></i></div>
					<div class="dx center-v">
						<p>+39 055.606364</p>
					</div>
				</div>
				
			</div>
		</section>

		<section>

			<div class="footer-block">
				<header>
					<div class="sx"></div>
					<div class="dx"></div>
				</header>
				<div class="footer-block__body">
					<div class="sx"><i class="icon icon-orario"></i></div>
					<div class="dx">
						<p>Lun-Mar-Gio: 8.30-19.00<br>Mer: 14.00-19.00<br>Ven: 8.30-15.00</p>
					</div>
				</div>
			</div>

			<div class="footer-block">
				<div class="footer-block__body">
					<div class="sx"><i class="icon icon-mail"></i></div>
					<div class="dx center-v">
						<p><a class="contact-email" target="_blank" href="#">info@studiodentisticogiorgini.it</a></p>
					</div>
				</div>
				
			</div>

			

		</section>

		<section>
			<div class="footer-block custom">
				<form class="newsletter">
					<header>
						<div class="sx"></div>
						<div class="dx">
							<h6>Newsletter</h6>
						</div>
					</header>
					<div class="footer-block__body">
						<div class="sx">
							<label class="footer__label">E-mail</label>
						</div>
						<div class="dx">
							<input name="email" type="text" />
						</div>
					</div>
					<div class="footer-block__body">
						<div class="sx">
							<label class="control control-checkbox">
								<input type="checkbox" name="privacy"/>
								<div class="control_indicator"></div>
							</label>
						</div>
						<div class="dx little">
						Acconsento al trattamento dei miei dati personali forniti nel modulo<br>di contatto al fine di gestire la mia domanda, fissare un appuntamento.
						</div>
					</div>
					<div class="footer-block__body">
						<div class="sx"></div>
						<div class="dx">
							<button type="submit" class="button">invia</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
	
	<div class="footer-middle">
		<section>
			<div class="footer-block">
				<header>
					<div class="sx"></div>
					<div class="dx">
						<h6>RAGIONE SOCIALE</h6>
					</div>
				</header>
				<div class="footer-block__body">
					<div class="sx"></div>
					<div class="dx">
						<p>Via Aretina, 167/B<br>50136 Firenze (FI)<br>P.IVA: 06246720483</p>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="footer-block hide-sm">
				<header>
					<div class="sx"></div>
					<div class="dx">
						<h6>PRIVACY</h6>
					</div>
				</header>
				<div class="footer-block__body">
					<div class="sx"></div>
					<div class="dx">
						<p>Codice Univoco: B2K7HJZ<br>
							<a href="privacy-policy.html">Privacy Policy - Cookie Policy</a>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="footer-block custom">
				<header>
					<div class="sx"></div>
					<div class="dx">PUOI TROVARCI SU</div>
				</header>
				<div class="footer-block__body">
					<div class="sx"></div>
					<div class="dx">
						<ul class="social">
							<li class="social-facebook">
								<a target="_blank" rel="nofollow" class="" href="https://www.facebook.com/cardoamalia/">
								<i class="icon icon-facebook"></i>
								</a>
							</li>
							<li class="social-instagram">
								<a target="_blank" rel="nofollow" class="" href="https://www.instagram.com/amaliacardo/">
									<i class="icon icon-instagram"></i>
								</a>
							</li>
						</ul>					
					</div>
				</div>
				
			</div>
		</section>
	</div>

	<div class="footer-bottom">
		@Studio dentistico Giorgini / Progetto grafico: <a href="http://www.fristudio.it">fristudio</a>
	</div>
</footer>


<footer class="mobile hide-desktop">
	<h6>CONTATTI</h6>
	<div class="footer__row">
		<div class="sx">
			<a target="_blank" href="https://www.google.it/maps/place/Studio+Dentistico+Giorgini/@43.7689049,11.2873793,17z/data=!3m1!4b1!4m5!3m4!1s0x132a54797e0ce3f7:0xade54a108abc3b7e!8m2!3d43.768901!4d11.289568!5m1!1e2?hl=it">
				<i class="icon icon-geoloc"></i>
			</a>
		</div>
		<div class="dx">
			<p><a target="_blank" href="https://www.google.it/maps/place/Studio+Dentistico+Giorgini/@43.7689049,11.2873793,17z/data=!3m1!4b1!4m5!3m4!1s0x132a54797e0ce3f7:0xade54a108abc3b7e!8m2!3d43.768901!4d11.289568!5m1!1e2?hl=it">Via Aretina, 167/B<br>50136 Firenze (FI)</a></p>
		</div>
	</div>
	<div class="footer__row">
		<div class="sx">
			<i class="icon icon-orario"></i>
		</div>
		<div class="dx">
			<p>Lun-Mar-Gio: 8.30-19.00<br>Mer: 14.00-19.00<br>Ven: 8.30-15.00</p>
		</div>
	</div>
	<div class="footer__row">
		<div class="sx">
			<a href="tel:+39 055.606364"><i class="icon icon-telefono"></i></a>
		</div>
		<div class="dx">
			<a href="tel:+39 055.606364">
				<p>+39 055.606364</p>
			</a>
		</div>
	</div>
	<div class="footer__row">
		<div class="sx">
			<i class="icon icon-mail"></i>
		</div>
		<div class="dx">
			<p><a class="email-address" href="mailto:info@studiodentisticogiorgini.it">info@studiodentisticogiorgini.it</a></p>
		</div>
	</div>
	<h6>Newsletter</h6>
	<div class="footer__row">
		<form class="newsletter">
			<div class="email-container">
				<div>
					<label class="footer__label">E-mail</label>
				</div>
				<div>
					<input name="email" type="text" />
				</div>
			</div>
			<div class="checkbox-container">
				<div>
					<label class="control control-checkbox">
						<input type="checkbox" name="privacy"/>
						<div class="control_indicator"></div>
					</label>
				</div>
				<div>
					<p>Acconsento al trattamento dei miei dati personali forniti nel modulo<br>di contatto al fine di gestire la mia domanda, fissare un appuntamento.</p>
				</div>
			</div>
			<div class="button-container">
				<button type="submit" class="button">invia</button>
			</div>
		</form>
	</div>
	<h6>Puoi trovarci su</h6>
	<div class="footer__social">
		<ul class="social">
			<li class="social-facebook">
				<a target="_blank" rel="nofollow" class="" href="https://www.facebook.com/cardoamalia/">
				<i class="icon icon-facebook"></i>
				</a>
			</li>
			<li class="social-instagram">
				<a target="_blank" rel="nofollow" class="" href="https://www.instagram.com/amaliacardo/">
					<i class="icon icon-instagram"></i>
				</a>
			</li>
		</ul>					
	</div>
	<div class="footer__double-block">
		<div>
			<h6>Ragione sociale</h6>
			<p>Via Aretina, 167/B<br>50136 Firenze (FI)<br>P.IVA: 06246720483</p>
		</div>
		<div>
			<h6>Privacy</h6>
			<p>Codice Univoco: B2K7HJZ<br>
				<a href="privacy-policy.html">Privacy Policy - Cookie Policy</a>
			</p>
		</div>
	</div>
</footer>
