<header class="main">
    <div class="logo">
        <a href="/"><img src="images/logo.png" /></a>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="">Chi siamo</a></li>
            <li><a href="">Servizi</a></li>
            <li><a href="">Storie</a></li>
            <li><a href="">Contatti</a></li>
            <li><a class="button" href="">Scrivici</a></li>
        </ul>
    </nav>
</header>