<header>PUOI TROVARCI SU</header>
<ul class="social">
	<li class="social-facebook"><a target="_blank" rel="nofollow" class="icon" href="https://www.facebook.com/cardoamalia/"><span>Facebook</span></a></li>
	<li class="social-instagram"><a target="_blank" rel="nofollow" class="icon" href="https://www.instagram.com/amaliacardo/"><span>Instagram</span></a></li>
</ul>