<header>Seguimi</header>
<ul class="social clearfix">
	<li class="social-facebook"><a target="_blank" rel="nofollow" class="icon" href="https://www.facebook.com/cardoamalia/"><span>Facebook</span></a></li>
	<li class="social-flickr"><a target="_blank" rel="nofollow" class="icon" href="https://www.flickr.com/photos/kismat_/"><span>Flickr</span></a></li>
	<li class="social-linkedin"><a target="_blank" rel="nofollow" class="icon" href="https://it.linkedin.com/in/cardo-amalia-10400928"><span>Linkedin</span></a></li>
	<li class="social-instagram"><a target="_blank" rel="nofollow" class="icon" href="https://www.instagram.com/amaliacardo/"><span>Instagram</span></a></li>
</ul>