---
home: active
key: 404
---

{{>header}}

<main class="padded">
	<section class="padded error404">
		<div class="error404-wrapper">
			<div class="sx">
				<i class="icon icon-error"></i>
			</div>
			<div class="dx">
				<div class="title">
					{{{title}}}
				</div>
				<div class="description">
					{{{body}}}
				</div>
			</div>
		</div>
	</section>
	<section class="button-container padded padded-mobile">
        <a href="/" class="button">Torna alla home</a>
    </section>
</main>