---
home: active
key: about
---

{{>header}}

<main>

    <section class="padded">
        <div class="homeblock homeblock--reverse">
            <div class="homeblock__img">
                <img src="https://picsum.photos/800/800" />
            </div>
            <div class="homeblock__text">
                <div class="homeblock__text__container homeblock__text__container--right">
                    <p class="homeblock__tag">CHIRURGO ORALE</p>
                    <h2>Dott. Stefano Giorgini</h2>
                    <p>Ficature cercil ilitatemped quid maxim fugiass iminctur, saectem. Ne- que nem quas endes ilia sit mi, sunt.
    Opta cusa nobit rerumen ducidio doloren dignis repudit omnimus ul- lab iust et ulpa con nos exerrovid ea il eiure sit et ius maxime veria num il ipsam quuntur, imodion sequisque sinus esh
    mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius maxime veria num il ipsam quuntur, imodion sequisque sinus esh
    Es ut andi ipici dolori re, to verio mi, endam quia explaut dis et volupti atetur, viderum, id quis aspellaborum incit am vel moluptam alit eic to conseque od qui cum ut alibust, is est dollignatas siti aut dolessenis quia et quas ipitio intem volest eossimolorum adi doluptatum acid molores aperit modis et la de et vit quodit essus, volupta quatus a estinul liquias estio il ipsaerum que ati unt aut dolorit liatend eliquate pro etur aliam fugia se dolestisto core, nonsequas quia quidem repu- da voluptation eos illatiumqui inienis a que magnia nam aut odistiis rectint dolorep eribusanda numsequ aerorem et rescips andamus se- quis cupta nestia es volorepro volupta spienimus acipsaecae nonseri busdaesserit quia pa cor rectint dolorep eribusanda numsequ ae- rorem et rescips andamus sequis cupta nestia es volorepro volupta spienimus acipsaecae nonseri busdaesserit quia pa cor</p>
                </div>
            </div>
        </div>


        <div class="homeblock">
            <div class="homeblock__text">
                <div class="homeblock__text__container homeblock__text__container--left">
                    <p class="homeblock__tag">CHIRURGO ORALE</p>
                    <h2>Dott. Stefano Giorgini</h2>
                    <p>Ficature cercil ilitatemped quid maxim fugiass iminctur, saectem. Ne- que nem quas endes ilia sit mi, sunt.
    Opta cusa nobit rerumen ducidio doloren dignis repudit omnimus ul- lab iust et ulpa con nos exerrovid ea il eiure sit et ius maxime veria num il ipsam quuntur, imodion sequisque sinus esh
    mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius maxime veria num il ipsam quuntur, imodion sequisque sinus esh
    Es ut andi ipici dolori re, to verio mi, endam quia explaut dis et volupti atetur, viderum, id quis aspellaborum incit am vel moluptam alit eic to conseque od qui cum ut alibust, is est dollignatas siti aut dolessenis quia et quas ipitio intem volest eossimolorum adi doluptatum acid molores aperit modis et la de et vit quodit essus, volupta quatus a estinul liquias estio il ipsaerum que ati unt aut dolorit liatend eliquate pro etur aliam fugia se dolestisto core, nonsequas quia quidem repu- da voluptation eos illatiumqui inienis a que magnia nam aut odistiis rectint dolorep eribusanda numsequ aerorem et rescips andamus se- quis cupta nestia es volorepro volupta spienimus acipsaecae nonseri busdaesserit quia pa cor rectint dolorep eribusanda numsequ ae- rorem et rescips andamus sequis cupta nestia es volorepro volupta spienimus acipsaecae nonseri busdaesserit quia pa cor</p>
                </div>
            </div>
            <div class="homeblock__img">
                <img src="https://picsum.photos/800/800" />
            </div>
        </div>
    </section>

    <section class="padded doctor-list">
        <div class="cards">
            <div class="card">
                <div class="card__image">
                    <img src="https://picsum.photos/400/400" />
                </div>
                <div class="card__txt">
                    <p class="card__label">COSA</p>
                    <h3>Sara</h3>
                    <p class="card__description">Ficature cercil ilitatemped quid maxim fugiass iminctur, saectem. Neque nem quas endes ilia sit mi, sunt.
Opta cusa nobit rerumen ducidio doloren dignis repudit omni- mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="https://picsum.photos/400/400" />
                </div>
                <div class="card__txt">
                    <p class="card__label">COSA</p>
                    <h3>Sara</h3>
                    <p class="card__description">Ficature cercil ilitatemped quid maxim fugiass iminctur, saectem. Neque nem quas endes ilia sit mi, sunt.
Opta cusa nobit rerumen ducidio doloren dignis repudit omni- mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="https://picsum.photos/400/400" />
                </div>
                <div class="card__txt">
                    <p class="card__label">COSA</p>
                    <h3>Sara</h3>
                    <p class="card__description">Ficature cercil ilitatemped quid maxim fugiass iminctur, saectem. Neque nem quas endes ilia sit mi, sunt.
Opta cusa nobit rerumen ducidio doloren dignis repudit omni- mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="https://picsum.photos/400/400" />
                </div>
                <div class="card__txt">
                    <p class="card__label">COSA</p>
                    <h3>Sara</h3>
                    <p class="card__description">Ficature cercil ilitatemped quid maxim fugiass iminctur, saectem. Neque nem quas endes ilia sit mi, sunt.
Opta cusa nobit rerumen ducidio doloren dignis repudit omni- mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh</p>
                </div>
            </div>
        </div>
    </section>

</main>


<script src="js/about.min.js" async deferred></script>