---
home: active
key: about
---

{{>header}}

<main>

    <section class="main-image main-image--top">
         <img class="hide-sm" src="" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-08.jpg');"/>
         <img class="hide-desktop" src="images/studio-dentistico-firenze-giorgini-dentista-08.jpg"/>
    </section>

    <section class="double-text-block">
        <h1>{{title}}</h1>
        <div class="double-text-block--text">
            <div>
                {{{body}}}
            </div>
        </div>
    </section>

    <section class="slideshow slideshow--img slideshow--only-image">
        <div class="ctrl ctrl-prev hide-sm">
            <i class="icon icon-arrow-sx"></i>
        </div>
        <ul class="slideshow-content">
            <li class="slide">
                <img src="" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-09.jpg');"/>
            </li>
            <li class="slide">
                <img src="" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-10.jpg');"/>
            </li>
            <li class="slide">
                <img  src="" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-11.jpg');"/>
            </li>
            <li class="slide">
                <img src="" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-12.jpg');"/>
            </li>
        </ul>
        <div class="ctrl ctrl-next hide-sm">
            <i class="icon icon-arrow-dx"></i>
        </div>
    
    </section>

    <section class="padded bg-light">
        <div class="homeblock homeblock--reverse homeblock--img-little">
            <div class="homeblock__img">
                <img src="images/studio-dentistico-firenze-giorgini-dentista-13.jpg" />
            </div>
            <div class="homeblock__text">
                <div class="homeblock__text__container homeblock__text__container--right">
                    <p class="homeblock__tag">TITOLARE</p>
                    <h2>Dott. Stefano Giorgini</h2>
                    <p>Specialista in odontoiatria e protesi dentaria. Porta avanti con passione
e impegno il lavoro che ha scelto, seguendo le orme del padre. Dopo gli
studi a Genova, si specializza con un master in Brasile. Appassionato di
estetica del sorriso, nel 2020 diventa socio attivo della Accademia
Italiana di Odontoiatria Estetica (IAED).</p></div>
            </div>
        </div>


        <div class="homeblock homeblock--img-little">
            <div class="homeblock__text">
                <div class="homeblock__text__container homeblock__text__container--left">
                    <p class="homeblock__tag">TITOLARE</p>
                    <h2>Dott. Marino Giorgini</h2>
                    <p>Medico chirurgo specialista in odontoiatria e protesi dentaria. Dopo una
specializzazione in XXXXX a Seattle, decide di fondare lo studio nel
1978 a Firenze. Ha trasmesso l’amore per il suo mestiere al figlio, con il
quale condivide lo studio.</p>
                </div>
            </div>
            <div class="homeblock__img">
                <img src="images/studio-dentistico-firenze-giorgini-dentista-14.jpg" />
            </div>
        </div>

    </section>

    

    <section class="doctor-list padded padded-mobile">
        <div class="cards">
            
            <div class="card">
                <div class="card__image">
                    <img src="images/giulia-dentista-giorgini-firenze.jpg" />
                </div>
                <div class="card__txt">
                    <p class="card__label">Specialista in ortodonzia</p>
                    <h3>Giulia</h3>
                    <p class="card__description">Entrata in squadra nel 2014, la dott.ssa Pieraccini è sempre molto
attenta alla cura dei pazienti, dai bambini, agli adolescenti fino agli
adulti.</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="images/sandra-dentista-giorgini-firenze.jpg" />
                </div>
                <div class="card__txt">
                    <p class="card__label">Responsabile segreteria</p>
                    <h3>Sandra</h3>
                    <p class="card__description">Ogni studio dentistico che si rispetti ha una colonna portante. Qui da noi
è Sandra, instancabile lavoratrice e responsabile segreteria, al nostro
fianco da 35 anni. Il motore dello studio che si destreggia con abilità tra
agende, pagamenti e rapporto con i clienti.</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="images/simona-dentista-giorgini-firenze.jpg" />
                </div>
                <div class="card__txt">
                    <p class="card__label">Assistente alla poltrona</p>
                    <h3>Simona</h3>
                    <p class="card__description">In studio da oltre 20 anni, Simona è l'assistente alla poltrona del Dott.
Marino Giorgini. È una figura professionale, sulla quale si può fare
affidamento per qualsiasi cosa.</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="images/valentina-dentista-giorgini-firenze.jpg" />
                </div>
                <div class="card__txt">
                    <p class="card__label">Assistente alla poltrona</p>
                    <h3>Valentina</h3>
                    <p class="card__description">Instancabile e pragmatica, Valentina è l'assistente alla poltrona del Dott.
Stefano Giorgini. In studio da sei anni, si riconosce per la sua risata
contagiosa che trasmette a ogni paziente, piccolo o adulto che sia.</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="images/sabrina-dentista-giorgini-firenze.jpg" />
                </div>
                <div class="card__txt">
                    <p class="card__label">Igienista dentale</p>
                    <h3>Sabrina</h3>
                    <p class="card__description">Precisione e gentilezza, oltre a sonde parodontali, specchietti e
pinzette, sono gli strumenti che utilizza maggiormente. Sabrina è una
professionista che sa mettere a proprio le persone.</p>
                </div>
            </div>

            <div class="card">
                <div class="card__image">
                    <img src="images/laura-dentista-giorgini-firenze.jpg" />
                </div>
                <div class="card__txt">
                    <p class="card__label">Igienista dentale</p>
                    <h3>Laura</h3>
                    <p class="card__description">La meticolosità è il suo mestiere. Anche se Laura è l'ultima arrivata in
studio, dal primo momento sapeva come mettere a proprio agio i
pazienti.</p>
                </div>
            </div>

            

        </div>
    </section>

    <section class="main-image">
         <img class="hide-sx" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-21.jpg');"/>
         <img src="images/studio-dentistico-firenze-giorgini-dentista-21.jpg" class="hide-desktop"/>
    </section>

</main>


<script src="js/about.min.js" async deferred></script>