---
home: contact
key: contact
---

{{>header}}

<main>
    <div class="main-contact">
        <div class="map">
            <img style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-26.jpg');"/>
        </div>
        <div class="contact-text padded-mobile">
            <div class="">
                <div class="icon__row">
                    <div class="sx">
                        <i class="icon icon-geoloc"></i>
                    </div>
                    <div class="dx">
                        <p>Via Aretina, 167/B<br>50136 Firenze (FI)</p>
                    </div>
                </div>
                <div class="icon__row">
                    <div class="sx">
                        <i class="icon icon-orario"></i>
                    </div>
                    <div class="dx">
                        <p>Lun-Mar-Gio: 8.30-19.00<br>Mer: 14.00-19.00<br>Ven: 8.30-15.00</p>
                    </div>
                </div>
                <div class="icon__row">
                    <div class="sx">
                        <i class="icon icon-telefono"></i>
                    </div>
                    <div class="dx">
                        <p>+39 055.606364</p>
                    </div>
                </div>
                <div class="icon__row">
                    <div class="sx">
                        <i class="icon icon-mail"></i>
                    </div>
                    <div class="dx">
                        <p><a class="contact-email" target="_blank" href="#">info@studiodentisticogiorgini.it</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>contactform}}


    <section class="main-image">
        <a href="https://www.google.it/maps/place/Studio+Dentistico+Giorgini/@43.7689049,11.2873793,17z/data=!3m1!4b1!4m5!3m4!1s0x132a54797e0ce3f7:0xade54a108abc3b7e!8m2!3d43.768901!4d11.289568!5m1!1e2?hl=it">
            <img class="hide-sm" src="" style="background-image: url('images/mappa-dentista-giorgini-firenze.jpg');"/>
            <img src="images/mappa-dentista-giorgini-firenze.jpg" class="hide-desktop"/>
        </a>
    </section>

</main>

<script src="js/contact.min.js" async deferred></script>
