---
home: active
key: index
---

{{>header}}

<section class="main-image main-image--top hide-desktop">
     <img class="hide-desktop" src="images/home-sorriso.jpg" />
     <div class="block-h1">
                    <h1>La salute dei Tuoi denti<br>merita il meglio.</h1>
                    <p>Entra nello studio dentistico Giorgini, il luogo che offre a tutti la
possibilità di curare il tuo sorriso con un servizio altamente
specializzato, in un ambiente familiare.</p>
    </div>
</section>

<section class="slideshow slideshow--img hide-sm">
    <div class="ctrl ctrl-prev hide-sm">
        <i class="icon icon-arrow-sx"></i>
    </div>
    <ul class="slideshow-content">
        <li class="slide">
            <img src="" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-01.jpg');"/>
            <div class="slideshow-text">
                <div class="block-h1">
                    <h1>La salute dei Tuoi denti<br>merita il meglio.</h1>
                    <p>Entra nello studio dentistico Giorgini, il luogo che offre a tutti la
possibilità di curare il tuo sorriso con un servizio altamente
specializzato, in un ambiente familiare.</p>
                </div>
            </div>
        </li>
        <li class="slide">
            <img src="" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-02.jpg');"/>
            <div class="slideshow-text">
                <div class="block-h1">
                    {{!-- <h1>Eperunt faccus erum vid moluptatem faccae notas cuam</h1>
                    <p>Ficature cercil ilitatemped quid maxim fugiass iminctur, saectem. Neque nem quas endes ilia sit mi, sunt.
                        Opta cusa nobit rerumen ducidio doloren dignis repudit omni- mus ullab iust et ulpa con nos exerrovid.</p> --}}
                </div>
            </div>
        </li>
        <li class="slide">
            <img src="" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-03.jpg');"/>
            <div class="slideshow-text">
                <div class="block-h1">
                    {{!-- <h1>Eperunt faccus erum vid moluptatem faccae notas cuam</h1>
                    <p>Ficature cercil ilitatemped quid maxim fugiass iminctur, saectem. Neque nem quas endes ilia sit mi, sunt.
                        Opta cusa nobit rerumen ducidio doloren dignis repudit omni- mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh</p> --}}
                </div>
            </div>
        </li>
        <li class="slide">
            <img src="" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-04.jpg');"/>
            <div class="slideshow-text">
                <div class="block-h1">
                    {{!-- <h1>Eperunt faccus erum vid moluptatem faccae notas cuam</h1>
                    <p>Ficature cercil ilitatemped quid maxim fugiass iminctur, saectem. Neque nem quas endes ilia sit mi, sunt.
                        Opta cusa nobit rerumen ducidio doloren dignis repudit omni- mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh</p> --}}
                </div>
            </div>
        </li>
    </ul>
    <div class="ctrl ctrl-next hide-sm">
        <i class="icon icon-arrow-dx"></i>
    </div>
    
</section>

<main>

    <div class="homeblock">
        <div class="homeblock__text">
            <div class="homeblock__text__container homeblock__text__container--left">
                <p class="homeblock__tag">CHI SIAMO</p>
                <h2>Dal 1978 un team di professionisti che opera a Firenze con professionalità, competenza e sicurezza.</h2>
                <p class="homeblock__text__content">Diventato negli anni un punto di riferimento per la cura dentaria, lo
studio Giorgini si compone del Dott. Marino Giorgini, Medico chirurgo
specialista in odontoiatria; il Dott. Stefano Giorgini, Specialista in
odontoiatria e protesi dentaria; e la Dott.ssa Giulia Pieraccini,
Specialista in ortodonzia.</p>
                <a class="button" href="chi-siamo.html">SCOPRI</a>
            </div>
        </div>
        <div class="homeblock__img">
            <img src="images/studio-dentistico-firenze-giorgini-dentista-05.jpg" />
        </div>
    </div>


    <div class="blocklist">
        <div class="blocklist__row half-padded">
            <div class="blocklist__title">
                <h2>Strumentazione tecnologica</h2>
            </div>
            <div class="blocklist__text">
                <div class="blocklist__icon">
                    <i class="icon icon-tecnologia"></i>
                </div>
                <p>Grazie a una strumentazione tecnologica di ultima generazione, siamo
in grado di offrire una diagnosi preventiva nell’insorgere delle carie,
rilevare le impronte con uno scanner digitale (evitando quindi il fastidio
della pasta) e, nel caso di interventi complessi, dare una proiezione
altamente verosimile del risultato che otterrai, prima di iniziare il
trattamento.</p>
            </div>
        </div>
        <div class="blocklist__row half-padded">
            <div class="blocklist__title">
                <h2>Pagamenti in 12 rate a tasso zero</h2>
            </div>
            <div class="blocklist__text">
                <div class="blocklist__icon">
                    <i class="icon icon-finanziamento"></i>
                </div>
                <p>Tra i vantaggi che il nostro studio offre c'è il anche la possibilità di un
finanziamento con pagamento raitezzato fino a 12 mesi a tasso zero.
Tutte le pratiche vengono avviate all’interno dello studio dentistico
senza rivolgersi a terzi. Per noi è fondamentale garantire a tutti la
possibilità di curarsi adeguatamente con le migliori prestazioni
odontoiatriche</p>
            </div>
        </div>
        <div class="blocklist__row half-padded">
            <div class="blocklist__title">
                <h2>Aggiornamento professionale continuo</h2>
            </div>
            <div class="blocklist__text">
                <div class="blocklist__icon">
                    <i class="icon icon-formazione"></i>
                </div>
                <p>Tutto lo staff frequenta regolarmente corsi di aggiornamento e
perfezionamento, in Italia e all’estero, per essere sempre al passo con
le tecniche più innovative e funzionali per garantire una preparazione

eccellente.
Le esperienze e i sorrisi di chi ci ha scelti</p>
            </div>
        </div>
    </div>


    <div class="homeblock homeblock--reverse">
        <div class="homeblock__img">
            <img src="images/studio-dentistico-firenze-giorgini-dentista-06.jpg" />
        </div>
        <div class="homeblock__text">
            <div class="homeblock__text__container homeblock__text__container--right">
                <p class="homeblock__tag">SERVIZI</p>
                <h2>I migliori trattamenti odontoiatrici e di estetica dentale</h2>
                <p class="homeblock__text__content">L'esperienza che abbiamo accumulato negli anni si mescola alla costante volontà di rimanere al passo coi tempi. Ecco perché allo Studio dentistico Giorgini offriamo molteplici servizi in base alle esigenze dei nostri pazienti.</p>
                <a class="button" href="servizi.html">SCOPRI</a>
            </div>
        </div>
    </div>

    <div class="blockimage padded-mobile">
        <div class="blockimage__text">
            <div class="blockimage__tag">STORIE</div>
            <h2>Le esperienze e i sorrisi di chi ci ha scelti</h2>
            <a href="storie.html" class="button">LEGGI STORIE</a>
             <img class="hide-sm" src="images/studio-dentistico-firenze-giorgini-dentista-07.png" />
        </div>
    </div>


    <section class="slideshow-wrapper padded padded-mobile">
        <p class="">COSA PENSANO DI NOI</p>
        <section class="slideshow slideshow--text">
            <div class="ctrl ctrl-prev hide-sm">
                <i class="icon icon-arrow-sx"></i>
            </div>
            <ul class="slideshow-content">
                
                <li class="slide">
                    <div class="slideshow-text">
                        <div class="block-h3">
                            <p class="review">"Personale molto professionale e trattamenti all'avanguardia. Studio moderno e pulitissimo super consigliato!"</p>
                            <p class="signature">- Marta</p>
                        </div>
                    </div>
                </li>

                <li class="slide">
                    <div class="slideshow-text">
                        <div class="block-h3">
                            <p class="review">"Dottori professionali e preparati, personale cortese e attento e uno studio molto accogliente. Ho trovato anche molta precisione nel rispetto degli orari degli appuntamenti"</p>
                            <p class="signature">- Roberto</p>
                        </div>
                    </div>
                </li>

                <li class="slide">
                    <div class="slideshow-text">
                        <div class="block-h3">
                            <p class="review">"Studio all'avanguardia con professionisti competenti e in continuo aggiornamento. Staff attento e cortese. Un'eccellenza nell'odontoiatria fiorentina. Se si è in cerca di un dentista, consiglio vivamente."</p>
                            <p class="signature">- Matteo</p>
                        </div>
                    </div>
                </li>
               
            </ul>
            <div class="ctrl ctrl-next hide-sm">
                <i class="icon icon-arrow-dx"></i>
            </div>
        </section>
        <div class="button-container">
            <a target="_blank" href="https://www.google.com/search?q=studio+dentistico+giorgini&oq=studio+dentistico+giorgini&aqs=chrome..69i57j0i22i30l3j69i59i450j69i61.227j0j7&sourceid=chrome&ie=UTF-8#lrd=0x132a54797e0ce3f7:0xade54a108abc3b7e,1,,," class="button">RECENSIONI GOOGLE</a>
        </div>
    </section>

</main>


<script src="js/index.min.js" async deferred></script>