---
home: active
key: index
---
 
{{>header}}
<section class="slideshow">
    <div class="ctrl ctrl-prev">
        <i class="icon icon-arrow-sx"></i>
    </div>
    <div class="slideshow-content">
        <div class="slide">
            <img style="background-image: url('https://via.placeholder.com/150/ccc');"/>
            <div class="block-h1">
                <h1>Il mio primo header con un testo</h1>
                <p>Ficature cercil ilitatemped quid maxim fugiass iminctur, saectem. Neque nem quas endes ilia sit mi, sunt.
                    Opta cusa nobit rerumen ducidio doloren dignis repudit omni- mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh mus ullab iust et ulpa con nos exerrovid ea il eiure sit et ius ma- xime veria num il ipsam quuntur, imodion sequisque sinus esh</p>
            </div>
        </div>
    </div>
    <div class="ctrl ctrl-next">
        <i class="icon icon-arrow-dx"></i>
    </div>
    
</section>
<main>

</main>


<script src="/js/index.min.js" async deferred></script>