---
home: active
key: service
---

{{>header}}

<main>

    <section class="main-image main-image--top">
         <img class="hide-sm" src="" style="background-image: url('images/studio-dentistico-firenze-giorgini-dentista-23.jpg');"/>
         <img class="hide-desktop" src="images/studio-dentistico-firenze-giorgini-dentista-23.jpg"/>
    </section>

    <section class="double-text-block">
        <h1>{{this.title}}</h1>
        <div class="double-text-block--text">
            <div>{{this.description}}</div>
        </div>
    </section>

    {{#each this.images}}
        {{#ifEquals this.type "full"}}
        <section class="image-half">
            <img src="images/{{this.uri}}_normal.jpg"/>
        </section>
        {{/ifEquals}}
    {{/each}}

    <section class="image-double padded">
        <div>
            {{#each this.images}}
                {{#ifEquals this.type "half"}}
                <div class="image-double__inner">
                    <img src="images/{{this.uri}}_normal.jpg"/>
                </div>
                {{/ifEquals}}
            {{/each}}
        </div>
    </section>

    <section class="button-container padded padded-mobile">
        <a href="servizi.html" class="button">Tutti i servizi</a>
    </section>

</main>


<script src="js/about.min.js" async deferred></script>